<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudentStay | Campuses</title>
</head>
<body>
<div>
    <div>
    <h1>
        StudentStay
        <button style="float: right;" onClick="window.location.href='/user-account'">Profile</button>
    </h1>
    </div>
    <h1 style="text-align:center">Select Campus</h1>
    <div>
        <nav>
            <button onClick="window.location.href='/jhb-campus'">JHB</button>
            <button onClick="window.location.href='/cpt-campus'">CPT</button>
            <button onClick="window.location.href='/dbn-campus'">DBN</button>
        </nav>
    </div>


</div>
</body>
</html>