{% extends 'base.html' %}

{% block content %}
    <!-- START MAIN DESCRIPTION DETAILS -->
    <section class="py-sm-7 py-5 position-relative" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="row py-lg-7 py-5">
                        <div class="col-lg-3 col-md-5 position-relative my-auto">
                            <img class="img border-radius-lg max-width-200 w-100 position-relative z-index-2"
                                 src="{{ property.get_display_image_url }}" alt="property">
                        </div>
                        <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h4 class="mb-0">{{ property.name }}</h4>
                            </div>
                            <div class="row mb-4">
                                <div class="col-auto">
                                    <span>Bed:</span>
                                    <span class="h6">{{ property.bedroom_type }}</span>
                                </div>
                                <div class="col-auto">
                                    <span>Bathroom:</span>
                                    <span class="h6">{{ property.bathroom_type }}</span>
                                </div>
                                <div class="col-auto">
                                    <span>Kitchen:</span>
                                    <span class="h6">{{ property.kitchen_type }}</span>
                                </div>
                                <div class="col-auto">
                                    <span>Price:</span>
                                    <span class="h6">R{{ property.price }}/pm</span>
                                </div>
                                <div class="col-auto">
                                    <span>Campus:</span>
                                    <span class="h6">{{ property.campus }}</span>
                                </div>
                            </div>
                            <p class="text-lg mb-0">
                                <a href="https://www.google.com/maps/@{{ property.longitude }},{{ property.latitude }},15z"
                                   target="_blank" class="text-info icon-move-right">Map
                                    <i class="fas fa-arrow-right text-sm ms-1"></i></a><br>
                                {{ property.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end -->
    <!-- Start Images -->
    <section class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="mb-5">More Images:</h3>
                </div>
            </div>
            <div class="row">
            {% if images %}
                {% for image in images %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="card card-plain card-blog">
                            <div class="card-image border-radius-lg position-relative">
                                <img alt="property image" class="w-100 border-radius-lg move-on-hover shadow"
                                     src="{{ image.get_image_url }}">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No Images Found</p>
            {% endif %}
            </div>
        </div>
    </section>
    <!-- End -->
{% endblock content %}
